.form_checkbox {    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0;
}

.form_checkbox__label {
    color: var(--text-primary);
    font: normal normal 300 10px Roboto;
}

.form_checkbox__field {
    background-color: red;
}